SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:postgresql://localhost:5432/msp_overlay
DB_USERNAME=msp_user
DB_PASSWORD=msp_password

POSTGRES_DB=msp_overlay
POSTGRES_USER=msp_user
POSTGRES_PASSWORD=msp_password

